@page "/"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido Administrador</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido Usuario</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h2>Inicie Sesion para ingresar a la aplicacion</h2>
    </NotAuthorized> 
</AuthorizeView>